front/src/main/resources/PlanningWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PlanningWebServiceImplService" targetNamespace="http://localhost:8080" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:8080" xmlns:ns1="http://localhost:8080" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://localhost:8080" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://localhost:8080" version="1.0">

  <xs:element name="getParcel" type="tns:getParcel"/>

  <xs:element name="getParcelResponse" type="tns:getParcelResponse"/>

  <xs:element name="initDatabase" type="tns:initDatabase"/>

  <xs:element name="initDatabaseResponse" type="tns:initDatabaseResponse"/>

  <xs:complexType name="getParcel">
    <xs:sequence>
      <xs:element minOccurs="0" name="parcelReference" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getParcelResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="parcel" type="tns:parcel"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parcel">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="initDatabase">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="initDatabaseResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getParcelResponse">
    <wsdl:part name="parameters" element="ns1:getParcelResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParcel">
    <wsdl:part name="parameters" element="ns1:getParcel">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initDatabase">
    <wsdl:part name="parameters" element="ns1:initDatabase">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initDatabaseResponse">
    <wsdl:part name="parameters" element="ns1:initDatabaseResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PlanningWebService">
    <wsdl:operation name="getParcel">
      <wsdl:input name="getParcel" message="ns1:getParcel">
    </wsdl:input>
      <wsdl:output name="getParcelResponse" message="ns1:getParcelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initDatabase">
      <wsdl:input name="initDatabase" message="ns1:initDatabase">
    </wsdl:input>
      <wsdl:output name="initDatabaseResponse" message="ns1:initDatabaseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlanningWebServiceImplServiceSoapBinding" type="ns1:PlanningWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getParcel">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getParcel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getParcelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initDatabase">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="initDatabase">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initDatabaseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlanningWebServiceImplService">
    <wsdl:port name="PlanningWebServiceImplPort" binding="ns1:PlanningWebServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/PlanningWebServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
